
body {
    padding: 20px;
}

@font-face {
    font-family: digital-7;
    src: url('/static/fonts/style-7_digital-7/digital-7 (mono).ttf');
}


#sensors-last-measures {
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
}

.last-measure {

    font-family: digital-7;
    font-size: 1.3em;
    float: left;
    margin: 5px;
    padding: 2px;
    box-shadow: 1px 1.8px #9d9d9d;
    text-align: center;
    border: 1px solid #8a6d3b;
    border-radius: 2px;
    width: 270px;
    height: 80px;

}
