<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <!-- jQuery -->
    <script src="/static/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <style>
    body{
      background: url('/static/background.jpg');
    }
    </style>
    <title>QAS</title>
    {{ form.media }}
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">QAS Sistema da calidade do aire</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="{% url 'gateways' %}">Ver Estacións</a></li>
        <li><a href="{% url 'admin:index' %}">Administrar</a></li>
    </ul>
  </div>
</nav>

    </br>
    <!--<div class="container-fluid">-->
    <div class="panel-body">
        {% block content %}{% endblock content %}
    </div>
<div>

    </br>
    <div class="panel-footer">QAS : Sistema de monitorización da calidade do aire</div>
</body>
</html>
