{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <h1>Estación de sensores id: {{gateway.id}}</h1>
</div>

<div class="container-fluid">
  <div class="row"><div class="container-fluid">
    <div class="col-sm-1"><strong>Nome:</strong></div>
    <div class="col-sm-2">{{gateway.name}}</div>
    <div class="col-sm-1"><strong>Descrición:</strong></div>
    <div class="col-sm-4">{{gateway.description}}</div>
  </div></div>
  <div class="row"><div class="container-fluid">
    <div class="col-sm-1"><strong>Data de alta:</strong></div>
    <div class="col-sm-2">{{gateway.addDate}}</div>
    <div class="col-sm-1"><strong>Propietario:</strong></div>
    <div class="col-sm-4">{{gateway.owner}}</div>
  </div></div>
</div>

<div class="container-fluid">
    <h3>Sensores da estación:</h3>
</div>
<div class="container-fluid">
{% if sensors %}
  <div class="list-group">
    <div class="list-group-item active">
      <div class="row">
        <div class="col-sm-2">Nome</div>
        <div class="col-sm-4">Descrición</div>
        <div class="col-sm-2">Data de alta</div>
        <div class="col-sm-1">Tipo</div>
      </div>
    </div>
    {% for sensor in sensors %}
    <a href="{% url 'measures' sensor_id=sensor.id %}" class="list-group-item">
      <div class="row">
              <div class="col-sm-2">{{ sensor.name }}</div>
              <div class="col-sm-4">{{ sensor.description }}</div>
              <div class="col-sm-2">{{ sensor.addDate }}</div>
              <div class="col-sm-1">{{ sensor.type }}</div>
      </div>
    </a>
    {% endfor %}
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <p>Non hai sensores nesta estación.</p>
            </div>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}
