{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h2>Benvida a QAS</h2>
</div>

<div class="container">
    <div class="alert alert-info">
        <div class="row">
          <div class="col-sm-4">
              Para ver as estacións de sensores:
          </div>
          <div class="col-sm-4">
              <a href="{% url 'gateways' %}" class="btn btn-info" role="button">Ver estacións</a>
          </div>
        </div>
    </div>


    <div class="alert alert-info">
        <div class="row">
          <div class="col-sm-4">
              Para administrar o sistema
          </div>
          <div class="col-sm-4">
            <a href="{% url 'admin:index' %}" class="btn btn-info" role="button">Administrar</a>
          </div>
        </div>
    </div>

</div>
{% endblock %}
