{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <h2>Lista de Estacións de sensores</h2>
</div>

<div class="container-fluid">
{% if listGateways %}
  <div class="list-group">
    <div class="list-group-item active">
      <div class="row">
        <div class="col-sm-2">Nome</div>
        <div class="col-sm-4">Descrición</div>
        <div class="col-sm-2">Data de alta</div>
        <div class="col-sm-1">Propietario</div>
      </div>
    </div>
    {% for gtw in listGateways %}
    <a href="{% url 'gtw_detail' gtw_id=gtw.id %}" class="list-group-item">
      <div class="row">
              <div class="col-sm-2">{{ gtw.name }}</div>
              <div class="col-sm-4">{{ gtw.description }}</div>
              <div class="col-sm-2">{{ gtw.addDate }}</div>
              <div class="col-sm-1">{{ gtw.owner }}</div>
      </div>
    </a>
    {% endfor %}
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <p>Non hai Estacións de sensores.</p>
            </div>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}
