{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <h2>Medidas do sensor {{sensor.id}}</h2>
</div>

<div class="container-fluid">
  <div class="row"><div class="container-fluid">
    <div class="col-sm-1"><strong>Nome:</strong></div>
    <div class="col-sm-2">{{sensor.name}}</div>
    <div class="col-sm-1"><strong>Descrición:</strong></div>
    <div class="col-sm-4">{{sensor.description}}</div>
  </div></div>
  <div class="row"><div class="container-fluid">
    <div class="col-sm-1"><strong>Data de alta:</strong></div>
    <div class="col-sm-2">{{sensor.addDate}}</div>
    <div class="col-sm-1"><strong>Alias:</strong></div>
    <div class="col-sm-4">{{sensor}}</div>
  </div></div>
</div>

<div class="container-fluid">
{% if measures %}
  <div class="list-group">
    <div class="list-group-item active">
      <div class="row">
        <div class="col-sm-2">Data</div>
        <div class="col-sm-4">Valor</div>
        <div class="col-sm-2">Unidade</div>
        <div class="col-sm-1">Tipo</div>
      </div>
    </div>
    {% for measure in measures %}
    <div class="list-group-item">
      <div class="row">
              <div class="col-sm-2">{{ measure.mes_date }}</div>
              <div class="col-sm-4">{{ measure.value }}</div>
              <div class="col-sm-2">{{ measure.unit }}</div>
              <div class="col-sm-1">{{ measure.type }}</div>
      </div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <p>Non hai medidas.</p>
            </div>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}
